<div class="container">
  <h1 class="create-blog-title">Create a Blog!</h1>
  <form [formGroup]="blogForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" formControlName="title" id="title" required />
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <textarea
        formControlName="content"
        id="content"
        rows="5"
        required
      ></textarea>
    </div>
    <button type="submit" [disabled]="!blogForm.valid">Submit</button>
  </form>
</div>
